<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/2b9471e61e.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/CSS/style3.css">
    <!-- {% block title %} -->
    <title>Flaks Templates - Present</title>
    <!-- {% endblock %} -->
  </head>
  <body>
    <section class="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#"><i class="fas fa-gift fa-2x"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="index.html" value="1">Opcja Pierwsza</a>
                <a class="nav-item nav-link" href="indexDark.html" value="2">Opcja Druga</a>
                <a class="nav-item nav-link  active" href="indexPresent.html" value="3">Opcja Trzecia</a>
                <a class="nav-item nav-link" href="indexCard.html" value="4">Opcja Czwarta - kartki</a>
            </div>
            </div>
        </nav>
    </section>
    <section class="display">
        <!-- {% block content %} -->
        <div class="container">
            <div class="table-wrapper d-flex flex-column">
                <h2 class="title table-title text-center">Lista Prezentów</h2>
                <table class="table table-stripped table-dark">
                    <thead class="table-info">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nazwa</th>
                            <th scope="col" class="link">Link</th>
                            <th scope="col">Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--{% for item in items %}-->
                        <tr class="item">
                            <th scope="row" class="td">1</th>
                            <td>{{ item.name }}</td>
                            <td class="link">{{ item.url }}</td>
                            <td>{{ item.price }}</td>
                        </tr>
                        <!-- {% endfor %} -->
                        <tr class="item">
                            <th scope="row" class="td">2</th>
                            <td>{{ item.name }}</td>
                            <td class="link">{{ item.url }}</td>
                            <td>{{ item.price }}</td>
                        </tr>
                        <tr class="item">
                            <th scope="row" class="td">3</th>
                            <td>{{ item.name }}</td>
                            <td class="link">{{ item.url }}</td>
                            <td>{{ item.price }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="alert-wrapper">
                <!-- {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for flask_message in messages %} -->
                            <div class="alert alert-info text-center" role="alert">
                                {{ flask_message }}
                            </div>
                        <!-- {% endfor %}
                    {% endif %}
                {% endwith %} -->
            </div>
            <h2 class="title form-title">Dodaj Prezent</h2>
            <div class="form-wrapper">
                <form method="">
                    <div class="form-group inputPresent">
                        <div class="label"><i class="fas fa-gift"></i></div>
                        <input type="text" class="form-control" id="inputPresent" placeholder="Nazwa prezentu">
                    </div>
                    <div class="form-group inputUrl">
                        <div class="label"><i class="fas fa-link"></i></div>
                        <input type="url" class="form-control" id="inputUrl" placeholder="Link">
                    </div>
                    <div class="form-group inputPrice">
                        <div class="label"><i class="fas fa-dollar-sign"></i></div>
                        <input type="number" class="form-control" id="inputPrice" placeholder="Cena">
                    </div>
                    <div class="btn-wrapper">
                        <button type="submit" class="btn btn-outline-light">DODAJ</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- {% endblock %} -->
    </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="static/script.js"></script>
    </body>
</html>